<div class="container pt-3">
  <form #boardForm="ngForm" (ngSubmit)="onSubmit()">
    <h3>Create a new board</h3>
    <div class="form-group">
      <label for="name">Name</label>
      <input
        id="name"
        name="name"
        type="text"
        class="form-control"
        [(ngModel)]="board.name"
        required
        #name="ngModel"
        [class.is-invalid]="name.touched && name.invalid"
      />
      <div class="invalid-feedback">
        Please enter a title.
      </div>
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <textarea
        id="description"
        name="description"
        class="form-control"
        [(ngModel)]="board.description"
      ></textarea>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="!boardForm.valid">
      Create board
    </button>
  </form>
</div>
