<div class="p-3" style="min-height: 100%; flex: 1 1 auto;">
  <h2>{{ board?.name }}</h2>
  <p>{{ board?.description }}</p>

  <div cdkDropListGroup style="flex: 1 1 auto; min-height: 100%;">
    <app-column
      *ngFor="let col of columns"
      [column]="col"
      style="min-width: 22em; max-width: 22em; float:left;"
    >
    </app-column>

    <a
      (click)="createColumn()"
      class="rounded text-center mr-3"
      style="border: dashed 1px #dee2e6;width: 22em; height: 6em; line-height: 6em; float:left;"
    >
      <i class="fa fa-plus"></i>
      Add a column
    </a>
  </div>
</div>
